/*New Message*/

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 65.24px 59px;
}

.letterOfFirstName {
  background-color: #01adb4;
  padding: 5px 10px 5px 10px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
}

.messageText {
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  max-width: 1000px;
  background: #f7f5ec;
}
.messageBottom {
  color: rgba(147, 160, 170, 1);
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

/* sender */
.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  border-radius: 15px 15px 0 15px;
}
.message.own .orange {
  background-color: orange;
}

.messageBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
