/*New Message*/

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 65.24px 59px;
}
.messageTop {
  position: relative;
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.letterOfFirstName {
  background-color: #01adb4;
  padding: 5px 10px 5px 10px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: white;
}

.messageText {
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  max-width: 1000px;
  background: #f7f5ec;
}
.messageBottom {
  color: rgba(147, 160, 170, 1);
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

/* sender */
.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  border-radius: 15px 15px 0 15px;
}
.letterOfFirstName.own {
  background-color: orange;
  position: absolute;
  right: 0;
  bottom: 1rem;
}
.letterOfFirstName:not(.own) {
  background-color: #01adb4;
  position: absolute;
  left: 0;
  bottom: 1rem;
}
.messageBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
