.page {
  height: 1024px;
  background-color: #eff0f0;
}
.page__window {
  max-width: 910px;
  height: 840px;
  border-radius: 16px;
  background-color: #ffffff;
}
.formContainer {
  width: 442px;
  height: 623px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}
.page__wrapper {
  padding: 56px 264px 104px;
}

.login__title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
  color: var(--fg-Primary, #081821);
}

.orDivider {
  margin-top: 24px;
  text-align: center;
  margin: 20px 0;
}
.dashLine {
  position: relative;
  color: #454848;
}

.dashLine:before,
.dashLine:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1px;
  background-color: #454848;
}

.dashLine:before {
  left: -220px;
}

.dashLine:after {
  right: -220px;
}
.orText {
  width: 24px;
  height: 22px;
  top: -1px;
  left: 209px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: #454848;
}


.forget__password {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-orange) !important;
  padding-left: 0;
}

.or__lanes {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.customButton {
  margin-top: 24px;
  width: 442px;
  height: 56px;
  background-color: #eb7005;
  font-family: Roboto;
  font-weight: 800;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #fcfcfc;
}

.customButton:hover,
.customButton:active,
.customButton:focus-visible,
.customButton:focus {
  color: #eb7005 !important;
}

.checkboxContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkboxLabel{
  padding-left: 8px;
}
.checkboxInput{
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.registerLink{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-orange) !important;
  padding-left: 10px;

}
.alreadyMember{
  text-align: center;
  margin-top: 20px;
}

.emailLabel,
.PasswordLabel {
  margin-top: 24px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 15.36px;
  letter-spacing: 2%;
  color: #081821;
}