
.forget-password{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #F08324 !important;
  margin-top:10px;
  padding-left: 0;
  }



.or-login-with {
  text-align: center;
  font-weight: 300px;
  margin-bottom: 2%;
}

