.formInputButton {
  background-color: #f6f8f8 !important;
  border-top: 1px solid #9eafb7;
  border-bottom: 1px solid #9eafb7;
  border-right: 1px solid #9eafb7;
  border-left: 1px solid transparent;
  
}

.formInputButton:active,
.formInputButton:hover,
.formInputButton:focus,
.formInputButton:focus-visible,
.formInputButton:active {
  border-left: 1px solid transparent !important;
  background-color: #f6f8f8 !important;
  
}

.errorFeedback {
  display: flex;
  align-items: center;
  color: #da3633;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
}
.errorFeedback svg {
  margin-right: 5px;
}

.errorInput {
  border-color: #da3633;
  background-image: none !important;
}

.errorInput:last-child {
  border-color: #da3633;
  border-radius: 0px 8px 8px 0px !important;
}

.optionalText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(89, 107, 115, 1);
}

.successFeedback {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  color: #178222;
  display: flex;
  align-items: center;
}

.errorInput:focus {
  box-shadow: none;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  box-shadow: none !important;
}

.passwordText {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}

input {
  border: 1px solid #9eafb7 !important;
  padding: 17.6px 8px !important;
  font-size: 16px !important;
  line-height: 15.36px !important;
  color: #596b73 !important;
  background-color: #f6f8f8 !important;
  box-shadow: none;
}


