.prevBtn,
.nextBtn,
.doneBtn {
  position: absolute;
  width: 120px;
  height: 48px;
}

.prevBtn {
  bottom: 2.5rem;
  left: 4rem;
  background-color: #f7f5ec !important;
  color: black !important;
  border: 2px solid #34bdc3 !important;
}

.nextBtn {
  bottom: 2.5rem;
  left: 15.62rem;
  background-color: #f08324 !important;
  color: #fcfcfc !important;
}

.doneBtn {
  bottom: 2.5rem;
  left: 15.62rem;
  background-color: #34bdc3 !important;
  border: 2px solid #34bdc3 !important;
  color: black !important;
}

.doneBtn:disabled {
  background-color: #f08324 !important;
  border: 2px solid #f08324 !important;
  color: #fcfcfc !important;
}

.nextBtn:hover,
.nextBtn:active {
  color: #f08324 !important;
}
