.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 100px auto 101px;
  height: 660px;
  width: 1222px;
  border-radius: 20px 20px 20px 20px;
}

.blocTabs {
  display: flex;
  background-color: white;
  border-radius: 20px 20px 0 0;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  position: relative;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.activeTabs {
  background: rgba(248, 246, 228, 1);
  width: 60%;
  border-left: 5px solid rgba(2, 173, 180, 0.6);
  border-right: 5px solid rgba(2, 173, 180, 0.6);
  /* border-bottom: none; */
  border-radius: 20px 20px 0 0;
}

.activeTabs::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 11px);
  height: 5px;
  background: rgba(1, 173, 180, 0.6);
  border-radius: 20px 20px 0 0;
  /* background-color: red; */
}

.contentTabs {
  flex-grow: 1;
  border-radius: 0 0 20px 20px;
  border-left: 5px solid rgba(1, 173, 180, 0.6);
  border-bottom: 5px solid rgba(1, 173, 180, 0.6);
  border-right: 5px solid rgba(1, 173, 180, 0.6);
}
