.prevBtn,
.nextBtn,
.doneBtn {
  position: absolute;
  width: 120px;
  height: 48px;
}

.prevBtn {
  bottom: 2.5rem;
  left: 4rem;
}

.nextBtn {
  bottom: 2.5rem;
  left: 15.62rem;
}

.doneBtn {
  bottom: 2.5rem;
  left: 15.62rem;
}
