.sidebar {
  position: relative;
  background-color: rgba(229, 229, 229, 1);
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  height: 100vh;
  width: 158px;
  margin-left: 15px;
  top: 15px;
  font-size: 0.9rem;
}

.sidebarHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.sidebarMenuItem {
  display: flex;
  height: 48px;
  align-items: center;
  padding-left: 10px;
}

/* setting icon */
.rowContainer:nth-last-child(2) {
  position: absolute;
  bottom: 90.3px;
  width: 100%;
}
/* help icon */
.rowContainer:nth-last-child(1) {
  position: absolute;
  bottom: 33.3px;
  width: 100%;
}

.sidebarLink {
  text-decoration: none;
  color: black !important;
  font-size: 0.9rem;
  line-height: 35px;
  font-weight: 500;
}

.sidebarLink:hover {
  transition: all 0.2s ease;
  color: orange;
}

.sidebarMenuItem:hover img {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.sidebarMenu:hover {
  cursor: pointer;
  filter: invert(0.5) sepia(4) saturate(6) hue-rotate(0deg);
  border-right: 5px solid rgba(240, 148, 67, 0.724);
}
