.card {
    padding: 0.625rem 4.875rem 1.875rem 4.875rem;
    width: 100%;
    height: 28.125rem;
    border: none;
    border-radius: 0;
    align-items: center;
}

.card__container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.375rem;
}

.card__title {
    width: 100%;
    margin-bottom: 2.94rem;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.1875;
}

.card__text {
    width: 100%;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: center;
    line-height: 2.1875;
}