.sidebar {
  position: relative;
  background-color: rgba(229, 229, 229, 1);
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  height: 100vh;
  width: 150px;
  margin-left: 15px;
  top: 15px;
  font-size: 14px;
}

.sidebarHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 121.5%;
  margin-left: -11%;
  border-radius: 0;
}

.sidebarMenuItem {
  display: flex;
  line-height: 48px;
  align-items: center;
  background-color: transparent;
  border: none;
}

.sidebarMenu img {
  margin: 0 1em 0 0;
  transition: all 0.2s ease;
}

.sidebarMenu:nth-last-child(2) {
  margin-top: 12.5rem;
}

.sidebarLink {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
}

.sidebarMenuItem:hover .sidebarLink {
  font-weight: bold;
  transition: all 0.2s ease;
  color: orange;
}

.sidebarMenuItem:hover img {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.sidebarMenu .sidebarMenuItem:hover {
  cursor: pointer;
  filter: invert(0.5) sepia(4) saturate(6) hue-rotate(0deg);
  border-right: 5px solid rgba(240, 148, 67, 0.724);
}

/* .sidebarMenuItem[id='active'] {
  border-right: 5px solid rgba(240, 148, 67, 0.724);
  filter: invert(0.5) sepia(4) saturate(6) hue-rotate(0deg);
} */
/* .sidebarMenuItem[id='active'] .sidebarLink {
  color: orange;
} */
