.sidebar {
  position: relative;
  background-color:#FDFDFD;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  height: 100vh;
  max-width: 170px;
  margin-left: 15px;
  top: 24px;
  font-size: 0.9rem;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  min-height: 707px;
}

.sidebarHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
}
.sidebarMenu{
  display: flex;
}
.sidebarMenuItem {
  display: flex;
  height: 48px;
  align-items: center;
  padding-left: 10px;
  position: relative;
}


/* .sidebarMenuItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
} */

/* .sidebarMenuItem:hover::after {
  width: calc(100% - 20px);
} */


/* setting icon */
.rowContainer{
  height: 80px;
}
/* .rowContainer:nth-last-child(2) {
  position: absolute;
  bottom: 90.3px;
  width: 100%;
} */
/* help icon */
/* .rowContainer:nth-last-child(1) {
  position: absolute;
  bottom: 33.3px;
  width: 100%;
} */
  /* Position the last two buttons at the bottom */
  .rowContainer:nth-last-child(-n+2) {
    position: absolute;
    bottom: 10%;
    width: 100%;
}
/* Adjust margin for the second last button to separate from the last button */
.rowContainer:nth-last-child(2) {
position: absolute;
bottom: 0.5%;
width: 100%;
}
.nav{
  align-items: center;
}
.sidebarLink {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  line-height: 35px;
  font-weight: 400;
}

.sidebarLink:hover {
  transition: all 0.2s ease;
  color: black;
}

.sidebarMenuItem:hover img {
  transition: all 0.2s ease;
}

.sidebarMenuItem:hover a {
  font-weight: 600;
}

.sidebarMenuItem:hover {
  transition: all 0.2s ease;
}


/* Define styles for the active state of the sidebar menu item */
.sidebarMenuItem.active .sidebarLink {
  color: #EB7005;
  font-weight: 600;
}

.sidebarMenu.active {
  background-color:  #FDF1E6;
  border-right: 5px solid rgba(235, 112, 5, 0.724);
}

.sidebarMenuItem.active .sidebarLink:hover::after {
  width: 0;
}

.sidebarMenuItem.active .sidebarLink::after {
  width: 0;
}

.sidebarMenu:hover{
background-color: #FDF1E6;
}

