.main__features {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_features__title {
  font-size: 2.25rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  padding: 5.75rem 0 2rem 0;
}

.banner {
  height: 20.625rem;
  padding: 0.5rem 5rem 0 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F7F5EC;
}

.banner__content {
  margin-right: 2rem;
}

.banner__title {
  font-weight: 500;
  margin-bottom: 2rem;
}

.banner__title,
.banner__text {
  margin-left: 0;
  font-size: 2rem;
  line-height: 3.125rem;
  text-transform: uppercase;
}

.banner__wrapper {
  width: 20.875rem;
  height: 20.125rem;
}

.more_features {
  padding: 1.5rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more_features_wrapper {
  justify-content: space-between;
  gap: 2.75rem;
}

@media screen and (max-width: 1244px) {
  .more_features_wrapper {
    gap: 1rem;
  }}

.more_features__title {
  margin: 0 0 2.875rem 0;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.1875rem;
}

.more_features__add {
  margin: 6.75rem 0 0 0;
  width: 100%;
  justify-content: center;
  text-decoration: underline;
}
