.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  /* margin-bottom: 8%; */
}

.loadingLogo {
  width: 81.24px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 5.7em;
}

.back-login {
  display: flex;
  flex-direction: column;
  /* line-height: 21px; */
  color: rgba(240, 131, 36, 1);
  font-size: 1.125rem;
}

.back-login:hover {
  text-decoration: underline;
  /* font-weight: 700;
  color: rgba(240, 131, 36, 1); */
}
.success-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success img {
  width: 81.24px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.success-password span:nth-of-type(1) {
  font-size: 1.375rem;
  line-height: 21px;
  margin: 1.1em auto;
  font-weight: bold;
}

.success-password span:nth-of-type(2) {
  text-align: center;
  width: 150%;
}

.customButton {
  margin-top: 24px;
  width: 442px;
  height: 56px;
  background-color: #eb7005;
  font-family: Roboto;
  font-weight: 800;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #fcfcfc;
}

.customButton:hover,
.customButton:active,
.customButton:focus-visible,
.customButton:focus {
  color: #eb7005 !important;
}