@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.imgContainer {
  display: flex;
  justify-content: center;
}

.imgContainer img {
  margin-top: 100px;
}

.messageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.messageContainer p {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 25px;
  text-align: center;
}
