@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body.home,
html.home {
  margin: 0;
  padding: 0;
}

body.home {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  gap: 90px;
} 
/* =======================================
    LANGUAGE, LOGIN/SIGNUP MENU & BUTTONS
   ======================================= */
.dropdown-toggle::after {
  display: none;
}

.lang-option {
  background: white !important;
  border: solid 0.5px #000 !important;
  width: 37px;
  height: 19px;
  padding: 0 !important;
  text-align: left !important;
  font-family: Roboto, sans-serif;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 1 !important;
  color: #000;
}

.home-signup-btn {
  box-sizing: border-box;
  border-radius: 7px !important;
  background: #eb7005 !important;
  border: solid 2px #eb7005 !important;
  color: #fcfcfc !important;
  width: 108px;
  height: 42px;
  margin-right: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500 !important;
  color: #fcfcfc;
  text-decoration: none;
}

.home-signup-btn a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.home-login-btn {
  box-sizing: border-box;
  border-radius: 7px !important;
  background: #f7f5ec!important;
  border: solid 2px #f08324 !important;
  color: #000 !important;
  width: 108px;
  height: 42px;
  margin-right: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500 !important;
}

.home-login-btn a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.home-signup-btn-2 {
  box-sizing: border-box;
  border-radius: 7px !important;
  background:  #eb7005 !important;
  border: solid 2px #eb7005 !important;
  margin-top: 80px;
  padding: 14px;
  width: 202px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500 !important;
  color: #fcfcfc !important;
  font-size: 22px !important;
}

.home-login-btn:hover,.home-signup-btn:hover,
.home-signup-btn-2:hover {
	background: #ffffff !important;
	border: solid 2px #f08324 !important;
  color: #081821 !important;
}

.value {
  margin-top: 60px;
}

/* ======================================
            WIDE BANNER SECTIONS
   ====================================== */
.banner-section#first-banner {
  background: #f8f8ee url('../../media/homePage/mother_daughter_hug.png') no-repeat right bottom;
  min-height: 730px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0 90px 0;
}

.banner-section#first-banner h1 {
  margin-bottom: 68px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  line-height: 1.45;
}

.banner-section#middle-banner-homepage{
  background: #f8f8ee url('../../media/homePage/father_son_reading.png') no-repeat left bottom;
  min-height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 0 10px 0;
}

.banner-section#middle-banner-homepage h1 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  line-height: 1.45;
  color: 081821;
}

.right-blurb {
  height: calc(100% - 40px);
  width: 50%;
  padding-right: 5%;
  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}

.right-blurb p {
  font-size: 28px;
}

.left-blurb {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 90px);
  width: 55%;
  padding-left: 5%;
  font-size: 32px;
  line-height: 50px;
  margin-top: 100px;
  font-family: Roboto, sans-serif;
  color: #081821;
}

.left-blurb h1 {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	color: #000;
	line-height: 50px;
}

.left-blurbs p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 0 20%;
  color: #000;
}

.left-blurbs {
	display: flex;
	justify-content: left;
	flex-direction: column;
	height: calc(100% - 90px);
	width: 55%;
	padding-left: 5%;
	font-family: Roboto, sans-serif;
	font-weight: normal;
}

.left-blurb a {
  text-decoration: none;
}

.left-blurb p {
  padding-right: 17%;
}

@media only screen and (max-width: 960px) {
  .banner-section#header-banner,
  .banner-section#middle-banner {
    background: #f8f8ee;
  }

  .right-blurb,
  .left-blurb {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0 auto 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 100% !important;
  }

  .left-blurb {
    height: calc(100% - 20px);
  }

  .left-blurb p {
    padding: 0;
  }
}

/* ======================================
          FEATURE & VALUE SECTIONS
   ====================================== */

.site-section {
  margin: 30px 5% 0 5%;
  font-family: Roboto, sans-serif;
}
.site-sections {
	margin: 40px auto 0 auto;
	font-family: Roboto, sans-serif;
}

.site-sections > h1 {
	margin-top: 90px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 36px;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	size: 36px;
	line-height: 60px;
	letter-spacing: 5%;
	color: #000;
}

.site-section>h1 {
  margin-top: 90px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 5%;
  color: #000;
}

.site-section>.more-link {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.site-section a {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.75; 
  color: #000;
}

.site-section a:hover {
  font-weight: 500;
}

.features-prev {
  display: flex;
  align-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
 margin-bottom: 100px; 
}

.features-prev-1 {
	display: flex;
	align-content: center;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	margin-bottom: 20px;
}

.feature-1 {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 20px;
  border-radius: 10px;
  box-shadow: inset 0 4px 4px 0 #f7f5ec; 
  background: linear-gradient(to bottom, #f7f5ec, 40%, #fff);
  background-color: #f7f5ec;
  min-height: 430px;
  margin: auto;
  padding: 32px 40px 30px 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
}

.feature-2 {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 40px;
  border-radius: 15px;
  background: linear-gradient(to top, #f7f5ec, 40%, #fff);
  background-color: #f7f5ec; 
  height: 430px;
  margin: auto;
  padding: 0 10px 60px 10px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25;
}
.features-3 {
	display: flex;
	align-items: center; 
	flex-direction: row;
	background: linear-gradient( #f7f5ec , 0%,rgba(255, 255, 255, 0.45), 100%); 
  background-color: #f7f5ec;  
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
}

.feature-3 p {
	font-size: 20px;
}

.video img {
  max-width: 558px; 
  width: 80%;
  height: auto;
  position: relative;
}

@media screen and (max-width: 1090px) {
  .features-prev, .features-prev-1 {
    flex-direction: column;
    gap: 40px;
  }

 .features-3 {
	  padding-right: 20px;	
 } 

  .feature-1 {
    flex-direction: row;
    min-height: 250px;
    height: auto;
    width: 100%;
  }

  .feature-2 {
    flex-direction: row;
    justify-content: space-between;
    min-height: 250px;
    height: auto;
    width: 100%;
    padding: 32px 40px 30px 40px;
  }
  .left-blurbs p {
    margin: 0;
    font-size: 20px;
  }

  .feature-1:nth-of-type(2),
  .feature-2:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .video img {
    width: 70%;
    height: auto;
  }
}

/* =============== FOOTER =============== */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin: 120px 0 0;
  padding: 45px 20% 35px 20%;
  min-height: 100px;
  background-color: #f08324;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

footer a,
footer a:hover {
  font-size: 18px;
  text-decoration: none;
  line-height: 1.11;
  color: #000;
}
