<div style="text-align: center;">
  <img src="cid:logo" alt="Logo" style="width: 62px;" />
  <br>
</div>

<div style="text-align: center;">
  <p style="margin-bottom: 30px; font-family: Roboto; font-size: 18px; font-weight: 400;">Reset your KIDS FIRST password</p>
  <p style=" margin-left: auto; margin-right: auto; font-family: Roboto; font-size: 18px; font-weight: 400; max-width: 615px; ">
    Heard you're having trouble with your KIDS FIRST password—no need to worry! Click the button below to easily reset your password and get back on track.
    <div style="margin-top: 56px;">
      <a href="<%= href %>"  
        style="padding: 16px 80px; background-color: #EB7005; color: white; 
        text-decoration: none; border-radius: 5px; font-weight: 400; font-size: 18px;">
       Reset your password
      </a>
    </div>
  </p>
  <br>
  <p style="margin-top: 25px; font-family: Roboto; font-size: 18px; font-weight: 400;">Please note, this link will expire in 60 minutes .</p>
  <p style="line-height: 0px; margin-bottom: 35px; font-family: Roboto; font-size: 18px; font-weight: 400;">Thank you for being a part of KIDS FIRST!</p>
</div>

<div style="text-align: center;">
  <hr style="border-top: 1px solid lightgray; width: 420px; margin-top: 10px;">
  <p style="color: #938B8B; font-family: Roboto; font-size: 18px; font-weight: 400;">Do not reply to this automated email.</p>
</div>
