.page {
  height: 1024px;
  background-color: #eff0f0;
}

.page__window {
  max-width: 910px;
  height: 840px;
  border-radius: 16px;
  background-color: #ffffff;
}

.page__wrapper {
  padding: 56px 234px 104px;
}

.page__title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
  color: var(--fg-Primary, #081821);
}

.EmailInput {
  margin-top: 16px;
}

.firstNameLabel,
.LastNameLabel {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 15.36px;
  letter-spacing: 2%;
  color: #081821;
}

.emailLabel,
.PasswordLabel {
  margin-top: 24px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 15.36px;
  letter-spacing: 2%;
  color: #081821;
}

.optionalText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.36px;
  letter-spacing: 0.02em;
  text-align: left;
}

.signUpText {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: aliceblue;
}

.orDivider {
  margin-top: 24px;
  text-align: center;
  margin: 20px 0;
}

.dashLine {
  position: relative;
  color: #454848;
}

.dashLine:before,
.dashLine:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1px;
  background-color: #454848;
}

.dashLine:before {
  left: -220px;
}

.dashLine:after {
  right: -220px;
}

.orText {
  width: 24px;
  height: 22px;
  top: -1px;
  left: 209px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: #454848;
}

.alreadyMember {
  text-align: center;
  margin-top: 20px;
}

.loginLink {
  cursor: pointer;
  color: #f08324;
  text-decoration: underline;
  font-size: 18px;
  width: 400;
  padding-left: 5px;
}

.loginLink:hover,
.loginLink:active {
  color: #f08324;
  text-decoration: underline;
}

.passwordList {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.passwordList p {
  margin-bottom: 0;
  margin-right: 10px;
  color: #da3633;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
}

.redText {
  color: #da3633;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  font-family: Roboto;
}
.blackText {
  color: black;
}

input:focus::placeholder {
  color: transparent;
}

.signUpButton {
  width: 62px;
  height: 25px;
  margin-top: 24px;
}

.customButton {
  margin-top: 24px;
  width: 442px;
  height: 56px;
  background-color: #eb7005;
  font-family: Roboto;
  font-weight: 800;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #fcfcfc;
}

.customButton:hover,
.customButton:active,
.customButton:focus-visible,
.customButton:focus {
  color: #eb7005 !important;
}

.socialButton {
  margin-top: 24px;
}