.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  width: 335px;
}

.container>img {
  margin: 50px 0 0 0;
}

.coParentCheckbox {
  display: flex;
  align-items: center;
  margin-top: 79px;
}

.coParentCheckbox>label {
  margin-left: 5px;
}

.coParentCheckbox :checked[type='checkbox'] {
  background-color: orange;
  background-image: none;
  border: orange;
}

.coParentCheckbox input[type='checkbox'] {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border-color: black;
}
