.container {
  display: flex;
  justify-content: space-between;
}
.inputForm {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  width: 335px;
}

.container > img {
  margin: 50px 86px 0 0;
}
.coParentCheckbox {
  display: flex;
  align-items: center;
  margin-top: 79px;
}
.coParentCheckbox label {
  margin-left: 20px;
}

.coParentCheckbox :checked[type='checkbox'] {
  background-color: orange;
  background-image: none;
  border: orange;
}
.coParentCheckbox input[type='checkbox'] {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border-color: black;
}
