.kidsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addMoreChild {
  cursor: pointer;
  padding-left: 0;
  width: 14%;
  margin: 0;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  width: 335px;
}
.kidsBtns {
  display: flex;
  justify-content: space-between;
}

.kidsBtns button {
  width: 120px !important;
  height: 48px !important;
  border-radius: 8px !important;
  margin-top: 273px !important;
}
.backBtn {
  background-color: #f7f5ec !important;
  color: black !important;
  border: 1px solid #f08324 !important;
}
.nextBtn {
  color: black !important;
  background-color: #f08324 !important;
  border: 1px solid #f08324 !important;
}
