.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  width: 335px;
}

.container>img {
  margin: 50px 86px 39px 0;
}

.addMoreChild {
  cursor: pointer;
}

.removeChild {
  cursor: pointer;
  position: relative;
  left: 90%;
}
