/* KF-toolbar */
.KF-toolbar {
  background: #FCFCFC;
}

/* Toolbar Label */
.rbc-toolbar-label {
  font-size: 18px;
  font-weight: bold;
  color: #081821;
}

/* Container for buttons*/
.buttonsContainer {
  display: flex;
  align-items: center;
}

/* Big Button*/
.bigButton {
  width: 267px;
  height: 48px;
  background-color: #E5E9E9;
  color: #7a7d7d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Small Buttons container*/
.smallButtonsContainer {
  position: relative;
  display: flex;
}

/* Small Buttons*/
.controlButton {
  width: 77px;
  height: 36px;
  border-radius: 8px;
  text-align: center;
  margin-right: 5px;
}

/* Create Button*/
.createButton {
  background-color: #eb7005;
  border: 2px solid #EB7005;
  color: #FFFFFF;
  border-radius: 8px;
  width: 94px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.createButton:hover {
  background-color: #f08324;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 400px) {

  /* Adjustments for smaller screens */
  .buttonsContainer {
    flex-direction: column;
    /* Change direction to column */
  }

  .styles.bigButton {
    width: auto;
    /* Allow button to take full width */
    margin-bottom: 10px;
    /* Add spacing between big button and create button */
  }
}